.header {
  background-color: #2196F3;
  color: white;

  ul.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .header-right {
      float:right;
    }

    li {
      float: left;

      a {
        padding: 14px 16px;
        height: 20px;
        display: inline-block;
        background-color: transparent;
        text-align: center;
        color: white;
        text-decoration: none;
        margin: 0;

        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
        }

        &#logo {
          padding: 15px;
          font-size: 1.75rem;
          font-weight: bold;
          line-height: 20px;
        }

        svg {
          padding: 0em 0.3em;
          vertical-align: -0.25em !important;
        }
      }

      &.dropdown {
        &:hover ul.dropdown-content {
          display: block;
        }

        ul.dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          width: 150px;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          list-style-type: none;
          padding: 0;

          li {
            width: 100%;

            a {
              color: black; 
              padding: 6px 8px;
              text-decoration: none;
              display: block;
              text-align: left;
            }
          }
        }
      }
    }
  }
}