@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
}

.container {
  & > h1 {
    padding: 20px;

    font-size: 3em;
    text-align: center;
  }

  & > h3 {
    padding: 10px;

    font-size: 2em;
  }
}

.jumbotron {
  margin: 20px 0;
  & > h1,
  & > h3 {
    margin: 20px 0;
  }
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: $blue;
  color: $white;

  .footer-copyright {
    background-color: darken($blue, 10%);
  }
}

.flex-cards {
  display: flex;
  flex-wrap: nowrap !important;

  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  flex-direction: row !important;

  overflow-x: scroll;
  overflow-y: hidden;
}
