body {
    margin: 0;
}

.header {
    background-color: #2196F3;
    color: white;
    
    .header-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
        li a {
            float: left;
            padding: 14px 16px;
            text-align: center;
            height: 20px;
            display: block;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            text-decoration: none;
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }

            &#logo {
                padding: 15px;
                font-size: 1.75rem;
                font-weight: bold;
                line-height: 20px;
            }
        }
    }
}